.board-index {
  background-color: $board-index-bg-clr;
  border-top-left-radius: $cmp-br;

  .index-header {
    height: em(75px);
    border-top-left-radius: $cmp-br;
    background-color: $main-bg-clr;
    padding-inline: em(20px);

    .title {
      font-size: em(16px);
      line-height: em(22px);
    }

    .header-background-img {
      height: 100%;
      margin-inline-start: 12px;
    }
  }
}
