.board-details {
  grid-column: 2;
  border-radius: $cmp-br;
  overflow-x: scroll;
  padding-block-end: 50px;
  background-color: $main-bg-clr;
  position: relative;

  .not-found {
    padding: 60px 16px 40px;
    text-align: center;
    .no-board-img {
      width: 218px;
      height: 191px;
    }

    .not-found-title {
      margin-block-end: 13px;
    }
    .txt {
      line-height: 1.5;
    }
  }

  @include for-normal-layout {
    grid-column: 1;
    border-radius: 0px;
    scrollbar-width: thin;
    padding-block-end: em(100px);
  }

  // .group-container {
  //   &.dragging-layout {
  //   }
  // }

  .sentinel {
    position: absolute;
    top: 0;
    right: 0;

    width: 20px;
    height: 50px;
  }

  .sticky {
    position: sticky;
    inset: 0 auto auto 0;
    z-index: 60;
    background-color: $main-bg-clr;
    height: 185px;
    transition: height 0.2s;

    &.header-collapsed {
      height: 133px;

      @include for-normal-layout {
        height: 80px;
      }
    }

    @include for-normal-layout {
      height: 80px;
    }
  }

  .add-group-btn {
    position: sticky;
    left: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    margin-inline-start: 38px;
    border: 1px solid $secondary-border-clr;
    @include btn;

    @include for-narrow-layout {
      margin-inline-start: 30px;
    }
  }

  .group-header-sentinel {
    grid-area: sentinel;
  }
}
