.board-index {
  grid-column: 2;
  background-color: $board-index-bg-clr;
  border-top-left-radius: $cmp-br;
  overflow-y: scroll;

  @include for-normal-layout {
    grid-column: 1;
    border-radius: 0px;
    scrollbar-width: none;
  }

  @include for-narrow-layout {
    font-size: 1rem;
  }

  @include for-small-layout {
    font-size: 0.85714rem;
  }

  @include for-mobile-layout {
    font-size: 0.71428rem;
  }

  .index-header {
    height: em(75px);
    border-top-left-radius: $cmp-br;
    background-color: $main-bg-clr;
    padding-inline: em(20px);

    @include for-normal-layout {
      border-top-left-radius: 0px;
    }

    @include for-narrow-layout {
      justify-content: space-between;
      .user-greet {
        font-size: em(16px);
      }
    }

    .greetings {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .title {
      font-size: em(16px);

      font-family: FigtreeMedium;
      font-weight: normal;
    }

    .header-background-img {
      height: 100%;
      margin-inline-start: 12px;
    }
  }

  .btn.btn-new-board {
    @include scalableBtn;
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;

    width: 70px;
    height: 70px;

    padding: 4px 8px;
    border-radius: $cmp-br;

    background-color: $btn-compose-clr;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.251);

    &:hover {
      background-color: $btn-compose-hover-clr;
    }

    svg {
      scale: 1.5;
      color: $main-bg-clr;
    }

    @include for-normal-layout {
      display: block;
    }
  }
}
