.board-details {
  grid-column: 2;
  border-radius: $cmp-br;
  overflow-x: scroll;
  padding-block-end: 50px;
  background-color: $main-bg-clr;

  @include for-normal-layout {
    grid-column: 1;
    border-radius: 0px;
    scrollbar-width: none;
  }

  .group-container {
    &.dragging-layout {
    }
  }

  .sticky {
    position: sticky;
    inset: 0 auto auto 0;
    z-index: 60;
    background-color: $main-bg-clr;
    height: 185px;

    &.header-collapsed {
      height: 133px;

      @include for-normal-layout {
        height: 80px;
      }
    }

    @include for-normal-layout {
      height: 80px;
    }
  }

  .add-group-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    margin-inline-start: 38px;
    border: 1px solid $secondary-border-clr;
    @include btn;
  }

  .group-header-sentinel {
    grid-area: sentinel;
  }
}
