.login-page {
  display: grid;
  grid-template-columns: auto 40%;
  width: 100vw;
  height: 100dvh;

  .main-container {
    background-color: $main-bg-clr;

    .main-title {
      margin-block-end: rem(9.2px);

      font-size: em(32px);
      font-family: PoppinsMedium, RobotoRegular, sans-serif;
      font-weight: 500;
      letter-spacing: -0.5px;
    }

    .secondary-title {
      margin-block-end: 48px;

      font-size: em(16px);
      font-family: PoppinsRegular, RobotoRegular, sans-serif;
      font-weight: 400;
      letter-spacing: -0.1px;
    }
  }

  .login-img {
    object-fit: cover;
    height: 100dvh;
    object-fit: cover;
  }
}
