.app-header {
  padding-inline: em(4px) em(24px);
  grid-column: 1 / -1;

  .menu-logo-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;

    .logo-container {
      font-size: em(16px);
      letter-spacing: -0.2px;

      .btn-logo {
        width: (33px);
        height: (33px);
      }

      .logo-main {
        margin-inline: 4px;
        font-family: PoppinsBold, RobotoBold, sans-serif;
      }

      .logo-secondary {
        font-family: PoppinsLight, sans-serif;
      }
    }
  }

  .btn {
    @include btn;

    width: em(40px);
    height: em(40px);
    margin-inline-end: 4px;

    padding: em(10px);
  }
}
