.board-header .board-controls {
  width: 100%;
  grid-area: actions;
  gap: 4px;

  padding-block: em(16px);
  border-block-start: 1px solid $secondary-border-clr;

  @include for-normal-layout {
    width: 95vw;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    background-color: $surface-clr;
    border-radius: $el-br;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.251);
  }

  .btn {
    height: 32px;
    border-radius: $el-br;

    @include for-normal-layout {
      scale: 1.3;
    }

    // For the tooltip hover to work only on the button itself
    > * {
      pointer-events: none;
    }
  }

  .btn-new-task {
    @include scalableBtn;
    padding: 4px 8px;
    margin-inline: 4px em(14px);

    font-family: FigtreeLight, RobotoRegular, sans-serif;
    color: $main-bg-clr;
    background-color: $btn-compose-clr;

    &:hover {
      background-color: $btn-compose-hover-clr;
    }

    @include for-normal-layout {
      display: none;
    }
  }

  .btn-action {
    @include btn;
    margin-inline-end: 6px;
    padding: 1px 5px;
    gap: 5px;

    span {
      @include for-normal-layout {
        display: none;
      }
    }
  }

  svg {
    color: $secondary-font-clr;
  }

  .filter-sort-btns {
    @include for-normal-layout {
      justify-content: space-evenly;
      margin-inline: 20px;
      width: 100%;
    }

    form {
      flex-grow: 1;
      height: 32px;
      width: 265px;
      outline-style: none;
      border: 1px solid $btn-compose-clr;
      border-radius: 4px;
      margin-inline-end: 6px;
      background-color: $main-bg-clr;

      svg {
        margin-block-start: 5px;
        margin-inline-start: 5px;
      }

      input {
        outline-style: none;
        border: none;
        padding-inline-start: 5px;
        padding-block: 1px;
      }
    }

    .filter-by-person-container {
      .removing-person {
        padding-inline-end: 5px;
        padding-block-start: 3px;
        @include btn;

        &:hover {
          cursor: pointer;
        }
      }

      .btn-title-person-padded {
        padding-inline-start: em(8px);
      }

      .person-initials {
        @include userImg($size: 24px, $margin-inline: 0);
        @include personInitials;
      }
    }

    .active {
      @include activeLink;
    }

    .hidden {
      display: none;
    }
  }

  .filterby-img {
    @include userImg(24px);
    border: none;
  }
}
