.board-header .board-controls {
  grid-area: actions;
  gap: 4px;

  padding-block: em(16px);
  border-block-start: 1px solid rgb(208, 212, 228);

  .btn {
    height: 32px;
    border-radius: $el-br;

    &:not(.btn-new-task):active {
      scale: 1;
    }

    // For the tooltip hover to work only on the button itself
    > * {
      pointer-events: none;
    }
  }

  .btn-new-task {
    margin-inline: 4px em(14px);

    font-family: FigtreeLight, RobotoBold, sans-serif;
    color: rgb(255, 255, 255);
    background-color: $btn-compose-clr;

    &:hover {
      background-color: $btn-compose-hover-clr;
    }
  }

  .btn-action {
    @include btn;

    span {
      padding: 1px 5px;
    }
  }

  svg {
    color: $secondary-font-clr;
  }
}
