.board-header {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr) auto auto;
  grid-template-rows: 56px 36px 64px;
  grid-template-areas:
    'title info activity invite invite'
    'views views views integrate expand'
    'actions actions actions actions actions';

  padding: em(12px) em(30px) em(17px) em(35px);

  @include for-normal-layout {
    @include board-header-layout-mobile;

    .board-title {
      margin-inline-end: 0;
    }
  }

  @include for-narrow-layout {
    padding: em(12px) em(30px) em(17px) em(15px);
  }

  @include for-mobile-layout {
    padding: 0 0 em(40px) em(10px);
  }

  &.collapsed {
    grid-template-columns: auto repeat(2, 1fr) auto;
    grid-template-rows: 40px 64px;
    grid-template-areas:
      'title views invite expand'
      'actions actions actions actions';

    @include for-normal-layout {
      @include board-header-layout-mobile;

      .board-info.flex {
        display: flex;
      }
    }

    .board-title {
      margin-inline-end: 16px;

      @include for-normal-layout {
        margin-inline-end: 0px;
      }
    }

    .views-container {
      align-self: end;

      .view-btn {
        &::before {
          bottom: 0;
        }
      }
    }

    .board-info {
      display: none;

      @include for-normal-layout {
        gap: 10px;
        margin-inline-end: 10px;
      }
    }

    .activity-container {
      display: none;
    }

    .invite-container {
      justify-self: end;
      margin-inline-end: 1em;

      @include for-normal-layout {
        margin-inline-end: 0;
      }
    }

    .btn-collapse-header {
      transform: rotate(180deg);
      align-self: center;
    }

    .btn-integrate {
      display: none;
    }
  }

  .arrow-back-mobile {
    display: none;
    rotate: 180deg;

    @include for-normal-layout {
      display: block;
      grid-area: back;
      scale: 1.5;

      svg {
        fill: $secondary-font-clr;
      }
    }
    @include for-narrow-layout {
      scale: 1.5;
    }

    @include for-small-layout {
      scale: 1;
    }
  }

  .board-title {
    grid-area: title;
    align-self: center;
    @include overflow3Dots;

    padding: 4px;
    border: 1px solid transparent;
    border-radius: $el-br;
    margin-inline-end: 4px;

    font-size: em(24px);
    font-family: PoppinsMedium, RobotoRegular, sans-serif;
    font-weight: 500;
    letter-spacing: -0.1px;

    @include for-normal-layout {
      font-size: em(32px);
      margin-inline-end: 0px;
      align-self: start;
      transform: translateY(-50%);
    }

    @include for-small-layout {
      font-size: em(26px);
    }

    @include for-mobile-layout {
      font-size: em(18px);
      transform: translateY(0);
    }

    &:not(.editing):hover {
      border-color: $list-shadow-clr;
    }
  }

  .board-info {
    grid-area: info;

    @include for-normal-layout {
      gap: 10px;
      margin-inline-end: 10px;
    }

    .btn {
      @include btn($secondary-font-clr);

      width: em(32px);
      height: em(32px);

      padding: 4px;

      @include for-normal-layout {
        scale: 1.2;
      }

      @include for-small-layout {
        scale: 0.9;
      }
    }
  }

  .activity-container {
    grid-area: activity;
    align-self: center;
    justify-self: end;
    gap: 4px;

    border-radius: $el-br;
    padding: 3px 8px;
    margin-inline-end: 8px;

    font-size: em(15px);
    cursor: pointer;

    @include for-normal-layout {
      display: none;
    }

    &:hover {
      background-color: $hover-clr;
    }

    .img-container {
      margin-inline-start: 4px;

      .user-img {
        @include userImg($size: 24px, $margin-inline: -5px);
      }
    }
  }

  .invite-container {
    grid-area: invite;
    place-self: center;
    gap: em(8px);

    .btn-invite {
      @include btn;

      padding: 4px 8px;
      border: 1px solid $list-shadow-clr;

      @include for-normal-layout {
        display: none;
      }

      .invite {
        margin-inline-start: 8px;
      }
    }

    .btn-options {
      @include btn;

      width: em(32px);
      height: em(32px);

      @include for-normal-layout {
        grid-area: info;
        scale: 1.2;
      }
    }
  }

  .views-container {
    grid-area: views;

    @include for-normal-layout {
      display: none;
    }

    .view-btn {
      @include btn;
      @include viewIndicator;
      @include viewSeparator;
      @include scalableBtn;

      position: relative;
      padding: 8px 8px 12px 8px;

      font-size: em(14px);
      font-family: FigtreeLight, RobotoRegular, sans-serif;

      span {
        padding-inline: 6px;
      }
    }
  }

  .btn-integrate {
    @include btn;
    @include scalableBtn;

    grid-area: integrate;
    align-self: center;
    gap: 8px;

    padding: 8px;

    @include for-normal-layout {
      display: none;
    }

    span {
      font-size: 1rem;
    }
  }

  .btn-collapse-header {
    @include btn;

    grid-area: expand;
    align-self: center;
    justify-self: end;
    width: em(30px);
    height: em(30px);

    border-radius: 50%;
    border: 1px solid $secondary-border-clr;
    transition: transform 0.3s;

    @include for-normal-layout {
      display: none;
    }

    &:hover {
      svg {
        animation: bounceSmall 1s ease-in-out;
      }
    }
  }

  .board-header-input {
    input {
      width: 100%;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
    }
  }
}
