.board-header .board-controls {
  grid-area: actions;
  gap: em(8px);

  padding-block: em(16px);
  border-block-start: 1px solid rgb(208, 212, 228);

  .btn {
    height: em(32px);
    border-radius: $el-br;

    &:not(.btn-new-task):active {
      scale: 1;
    }
  }

  .btn-new-task {
    padding: 4px 8px;
    margin-inline-end: em(14px);

    background-color: $btn-compose-clr;
    color: rgb(255, 255, 255);

    &:hover {
      background-color: rgb(0, 96, 185);
    }
  }

  .btn-action {
    @include btn;

    span {
      padding: 1px 5px;
    }
  }
}
