.board-header {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr) auto;
  grid-template-rows: 56px 36px 64px;
  grid-template-areas:
    'title info activity invite'
    'views views views expand'
    'actions actions actions actions';

  padding: em(12px) em(30px) em(17px) em(35px);

  &.collapsed {
    grid-template-columns: auto repeat(2, 1fr) auto;
    grid-template-rows: 40px 64px;
    grid-template-areas:
      'title views invite expand'
      'actions actions actions actions';

    .board-title {
      margin-inline-end: 16px;
    }

    .views-container {
      align-self: end;
      .view-btn {
        &::before {
          bottom: 0;
        }
      }
    }

    .board-info,
    .activity-container {
      display: none;
    }

    .invite-container {
      justify-self: end;
      margin-inline-end: 1em;
    }

    .btn-collapse-header {
      transform: rotate(180deg);
    }
  }

  .board-title {
    grid-area: title;
    align-self: center;

    padding: 4px;
    border: 1px solid transparent;
    border-radius: $el-br;
    margin-inline-end: 4px;

    font-size: em(24px);
    font-family: PoppinsMedium, RobotoRegular, sans-serif;
    font-weight: 500;
    letter-spacing: -0.1px;

    &:not(.editing):hover {
      border-color: $list-shadow-clr;
    }
  }

  .board-info {
    grid-area: info;

    .btn {
      @include btn($secondary-font-clr);

      width: em(32px);
      height: em(32px);

      padding: 4px;
    }
  }

  .activity-container {
    grid-area: activity;
    align-self: center;
    justify-self: end;
    gap: 4px;

    border-radius: $el-br;
    padding: 3px 8px;
    margin-inline-end: 8px;

    font-size: em(15px);
    cursor: pointer;

    &:hover {
      background-color: $hover-clr;
    }

    .img-container {
      margin-inline-start: 4px;

      .user-img {
        @include userImg($size: 24px, $margin-inline: -5px);
      }
    }
  }

  .invite-container {
    grid-area: invite;
    place-self: center;
    gap: em(8px);

    .btn-invite {
      @include btn;

      padding: 4px 8px;
      border: 1px solid $list-shadow-clr;

      .invite {
        margin-inline-start: 8px;
      }
    }

    .btn-options {
      @include btn;

      width: em(32px);
      height: em(32px);
    }
  }

  .views-container {
    grid-area: views;

    .view-btn {
      @include btn;
      @include viewIndicator;
      position: relative;

      padding: 8px 8px 12px 8px;
      font-size: em(14px);

      span {
        padding-inline: 6px;
      }
    }
  }

  .btn-collapse-header {
    @include btn;

    grid-area: expand;
    justify-self: end;

    width: em(30px);
    height: em(30px);

    border-radius: 50%;
    border: 1px solid $secondary-border-clr;

    transition: transform 0.3s;

    &:hover {
      svg {
        animation: bounceSmall 1s ease-in-out;
      }
    }
  }

  .board-header-input {
    input {
      width: 100%;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
    }
  }
}
