.label-picker-container {
  width: 200px;

  .options-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10px;

    padding: 24px 24px 8px;
    color: $main-bg-clr;

    button {
      height: 35px;
      border-radius: $el-br;
    }
  }

  .btn-container {
    display: flex;
    justify-content: center;
    border-block-start: 1px solid $secondary-border-clr;
    padding-block-start: 8px;
    margin: 0 16px 8px;

    .edit-labels-btn {
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      @include btn;
    }
  }
}
