.dynamic-modal {
  transform: translate(0, 3px);

  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 3;

  border: none;
  border-radius: $cmp-br;
  padding: 0;
  margin: 0;

  background-color: $main-bg-clr;
  --animate-duration: 0.3s;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.32);

  &.centered {
    transform: translate(-50%, 3px);

    &.caret {
      transform: translate(-50%, 7px);
    }
  }

  &.caret {
    transform: translate(0, 7px);

    &::after {
      @include caret(1px);
      @include caretTop($main-bg-clr);
    }
  }
}
