.dynamic-options-menu {
  padding: em(8px);

  .options-list {
    .option {
      @include btn;
      height: em(32px);
      width: em(234px);
      cursor: pointer;

      .btn-option {
        .option-title {
          margin-inline-start: 8px;
          padding-inline-end: 2px;
        }
      }
    }
  }

  .whatsapp-icon {
    width: 16px;
    height: 16px;
  }

  .whatsapp-arrow {
    width: 20px;
  }

  .user-img {
    @include userImg(28px, 0px);
  }
}
