.files-log-container {
  margin-inline: 40px;

  @include for-small-layout {
    margin-block: 60px;
    margin-inline-start: 50px;
  }

  .no-files {
    margin-block-start: 100px;

    .upload-file-img {
      width: 400px;
      padding-bottom: 24px;
    }

    .files-msg {
      padding: 15px 10px;
      max-width: 450px;
      text-align: center;

      .files-title {
        font-size: em(24px);
        font-family: PoppinsMedium;
      }

      .files-desc {
        font-size: em(16px);
        margin-top: 16px;
      }
    }
  }

  .files-container {
    margin-block-start: 50px;

    display: grid;
    row-gap: 50px;
    grid-auto-flow: rows;
    grid-auto-rows: 400px;
    justify-items: center;
  }
}
