.google-modal-backdrop {
  @include backdrop;
}

.google-modal {
  @include modal;
  gap: 15px;
  width: 500px;

  @include for-small-layout {
    width: 450px;
  }

  @include for-mobile-layout {
    font-size: 12px;
    width: 350px;
  }

  .modal-header {
    @include for-small-layout {
      flex-direction: column;
    }

    .modal-logo {
      width: 150px;

      @include for-small-layout {
        margin-block-end: 20px;
      }

      @include for-mobile-layout {
        width: 100px;
      }
    }

    .main-modal-title {
      margin-block-start: 5px;
      font-size: em(18px);
      font-family: FigtreeMedium, RobotoBold;
      font-weight: 500;
    }
  }

  .secondary-modal-title {
    font-size: em(16px);
    text-align: center;
    font-weight: 400;
  }

  .btn-sign-in {
    @include btn;
    width: 100%;
    gap: 10px;

    padding-block: 15px;
    border: 1px solid $secondary-border-clr;
    border-radius: $el-br;

    svg {
      scale: 1.5;
    }

    span {
      font-size: em(16px);
    }
  }

  .integration-desc {
    font-size: 1rem;
    font-size: $secondary-font-clr;
    text-align: center;

    span {
      font-family: FigtreeSemiBold, RobotoBold, sans-serif;
    }
  }
}
