.group-preview {
  display: grid;
  grid-template-areas:
    'header'
    'list'
    'stats';
  padding: 0 0 em(40px) em(38px);

  .group-header {
    grid-area: header;
  }

  .group-content {
    grid-area: list;

    // border-block-end: 1px solid $secondary-border-clr;
    border-top-left-radius: $cmp-br;
    // border-bottom-left-radius: $cmp-br;
  }
}
