.board-details .header-container {
  position: sticky;
  top: 133px;
  left: 0;
  z-index: 50;
  grid-area: header;

  &.header-expanded {
    top: 185px;
  }

  .group-header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    cursor: grab;

    &.intersecting {
      box-shadow: 4px 6px 15px -8px $list-shadow-clr;
    }

    &:not(.dragging) {
      background-color: $main-bg-clr;
    }

    &.collapsed {
      grid-template-columns: 6px 1fr;
      grid-template-areas:
        'indicator title'
        'indicator title';

      .list-indicator {
        grid-area: indicator;
        border-top-left-radius: $cmp-br;
        border-bottom-left-radius: $cmp-br;
      }

      .group-title-container.flex {
        grid-area: title;
        border-radius: 0;
      }
    }

    .group-title-container {
      grid-column: 1 / -1;

      .group-menu-btn {
        position: absolute;
        left: -30px;
        opacity: 0;
        display: grid;
        justify-content: center;
        border-radius: $el-br;
        width: 24px;
        height: 24px;

        &:hover {
          opacity: 1;
          background-color: $selected-task-border-clr;
        }
      }

      .collapse-btn {
        display: grid;
        justify-content: center;
        align-items: end;
        margin: 0;
        margin-inline-end: 6px;
        padding: 0;
      }

      .group-title {
        color: var(--group-clr-9);
        font-size: 1.3rem;
        margin-inline-end: 15px;
        font-family: PoppinsMedium;

        .group-title-input {
          input {
            font-size: 17px;
            font-family: PoppinsRegular;
            color: inherit;
          }
        }

        .group-title-edit-container {
          gap: 4px;

          border: 1px solid $btn-compose-clr;
          border-radius: $el-br;
          padding: 0px 3px;

          .btn-change-group-color {
            @include colorBtn(24px);
          }

          .group-title-input {
            input {
              outline: none;
              border: none;
            }
          }
        }
      }
    }

    .tasks-left {
      opacity: 0;
      align-self: center;
      padding: 0;
      margin: 0;
      font-size: 1rem;
    }

    &:hover .group-menu-btn {
      opacity: 1;
    }

    &:hover .tasks-left {
      opacity: 1;
    }

    .group-first-row {
      border-top-left-radius: $cmp-br;
    }
  }
}
