.homepage-header {
    margin-inline: 20px 20px;
    padding-block: 10px;

    .logo-container {
        font-size: em(16px);
        letter-spacing: -0.2px;

        .btn-logo {
            width: rem(35px);
            height: rem(35px);
            padding: 0;
        }

        .logo-main {
            margin-inline-end: 6px;
            font-family: PoppinsBold, RobotoBold, sans-serif;
        }

        .logo-secondary {
            font-family: PoppinsLight, sans-serif;

            @include for-small-layout {
                display: none;
            }
        }
    }

    .right-side-container {
        gap: 8px;

        .log-in-btn {
            font-size: 1rem;
            padding: em(8px) em(10px);
            font-family: PoppinsLight, sans-serif;
            border-radius: $cmp-br;

            &:hover {
                color: $log-in-font-clr;
                background-color: $homepage-bg-clr;
            }
        }

        .get-started-btn {
            @include getStartedBtn;
        }
    }

}