.task-sort {
  .sort-by-title {
    @include sortTitle;
  }

  .dropdowns-container {
    gap: 8px;
    margin-block-end: em(32px);

    > * {
      .active {
        @include activeLink;
      }
    }

    .active-sort-option,
    .active-dir-option {
      @include dropdownOption;
      position: relative;
      justify-content: space-between;
      cursor: pointer;
    }

    .active-dir-option {
      .dir-icon {
        &::before {
          font-family: faSolid;
        }

        &.ascend {
          &::before {
            content: '\f160';
          }
        }

        &.descend {
          &::before {
            content: '\f161';
          }
        }
      }
    }

    .active-sort-option {
      flex-grow: 1;
    }

    .sort-by-dropdown {
      @include dropdown;

      .dropdown-option {
        @include dropdownOption;
      }
    }

    .sort-dir-dropdown {
      @include dropdown;
      .dropdown-dir {
        @include dropdownOption;

        &::before {
          font-family: faSolid;
          margin-inline-end: 8px;
        }

        &.ascending {
          &::before {
            content: '\f160';
          }
        }

        &.descending {
          &::before {
            content: '\f161';
          }
        }
      }
    }
  }

  .btn-remove-sort {
    @include btn;
    @include scalableBtn;

    padding: em(8px);
  }
}
