.group-container {
  display: grid;

  li:not(.group-first-row) {
    &:hover {
      box-shadow: 4px 3px 6px -3px $list-shadow-clr;

      .task-status,
      .task-priority {
        opacity: 0.7;
      }
    }
  }

  li:not(.task) {
    display: grid;
    grid-template-columns: 6px 32px 445px 100px repeat(4, 140px) 1fr;
    grid-auto-rows: $task-preview-height;
    border-bottom: 1px solid $secondary-border-clr;

    input:not([name='add-task']) {
      @include checkbox;
    }

    &.group-first-row {
      position: sticky;
      top: 0;
      background-color: $main-bg-clr;
      border-block: 1px solid $secondary-border-clr;
      z-index: 1;
      grid-column: 1 / -1;
      grid-row: 2;
      border-top-left-radius: $cmp-br;
      overflow: hidden;
      // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

      &>* {
        display: grid;
        font-weight: lighter;
        font-size: 1rem;
        align-items: center;
        justify-content: center;

        &:not(.task-indicator) {
          border-inline-start: 1px solid $secondary-border-clr;
        }
      }

      input:hover {
        // checkbox
        border-color: $secondary-font-clr;
      }

      .add-col-btn {
        justify-self: start;
        padding: 8px 10px;

        svg {
          color: $secondary-font-clr;
        }

      }
    }

    &.add-task-li {
      border-bottom-left-radius: $cmp-br;
      overflow: hidden;
      opacity: 0.4;

      .add-task-container {
        border-inline-start: 1px solid $secondary-border-clr;
      }

      input[name='add-task'] {
        width: 97%;
        padding-inline-start: em(24px);
        opacity: 1;
        @include input;
        outline-style: none;

        &:hover {
          border-color: $secondary-border-clr;
          opacity: 1; // z-index: 0;
        }

        &:focus {
          border-color: $btn-compose-clr;
          // background-color: $active-btn-clr;
        }
      }

      &:hover {
        background-color: $hover-clr;
        opacity: 1;
      }
    }
  }
}