.group-container {
    display: grid;

    .group-list {
        border-inline-start: 6px solid var(--group-clr-9);
        border-top-left-radius: $cmp-br;
    }

    li {
        display: grid;
        grid-template-columns: 32px 445px 100px repeat(4, 140px);
        grid-auto-rows: $task-preview-height;

        &:hover {
            box-shadow: 4px 3px 6px -3px #c3c6d4;
        }

        input:not([name="add-task"]) {
            align-self: center;
            justify-self: center;
            height: rem(16px);
            width: 1rem;
            border: 1px solid $secondary-border-clr;
        }

        &:not(.add-task) {
            border-bottom: 1px solid $secondary-border-clr;
        }

        &.group-header>* {
            display: grid;
            font-family: PoppinsRegular, RobotoRegular, Helvetica, sans-serif;
            font-weight: lighter;
            font-size: 1rem;
            align-items: center;
            justify-content: center;
            border-inline-start: 1px solid $secondary-border-clr;
        }

        &.add-task {
            border-bottom-left-radius: $cmp-br;
            border-inline-start: 6px solid var(--group-clr-91);
            opacity: 0.3;
            
            input[name="add-task"] {
                height: 24px;
                align-self: center;
                padding-inline-start: em(24px);
                margin: 6px;
                border: 1px solid transparent;
                border-radius: $el-br;
                background: transparent;
                opacity: 1;
    
                &:hover {
                    border-color: $secondary-border-clr;
                }
            }
    
            &:hover {
                background-color: $hover-clr;
                opacity: 1;
            }
        }
    }
}