.task-sort {
  .sort-by-title {
    @include sortTitle;
  }

  .dropdowns-container {
    gap: 8px;

    .active-sort-option,
    .active-dir-option {
      @include dropdownOption;
      position: relative;
      justify-content: space-between;
      cursor: pointer;
    }

    .active-sort-option {
      flex-grow: 1;
    }

    .sort-by-dropdown {
      @include dropdown;

      .dropdown-option {
        @include dropdownOption;
      }
    }

    .sort-dir-dropdown {
      @include dropdown;
      .dropdown-dir {
        @include dropdownOption;
      }
    }
  }
}
