.task-files {

    .files-container {
        width: 100%;
        height: 100%;
        gap: 4px;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;

        .file-input {
            cursor: pointer;
        }

        .file-type-icon {
            width: 20px;
            height: 20px;
          }

        .empty-file-icon {
            opacity: 0;
            display: flex;
            align-items: center;
            width: 19px;
            height: 24px;
        }

        .add-file-btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 14px;
            height: 14px;
            opacity: 0;

            border-radius: 50%;
            padding: 0;
            margin: 7px;

            font-weight: bolder;
            font-size: 11px;
            background-color: $btn-compose-clr;
            color: white;
        }

        .delete-file-btn {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 12px;
            height: 12px;
            opacity: 0;

            border-radius: 50%;
            padding: 0;
            margin: 7px;

            font-size: 9px;
            background-color: var(--group-clr-17);
            color: white;
        }


        &:hover .add-file-btn {
            opacity: 1;
        }

        &:hover .empty-file-icon {
            opacity: 1;
        }

        &:hover .delete-file-btn {
            opacity: 1;
        }
    }
}

.file-preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    object-fit: contain;

    .file-img {
        max-width: 500px;
        max-height: 500px;
        padding: 30px;
        object-fit: contain;
    }
}