.task-preview {
  display: grid;
  grid-template-columns: 483px 100px repeat(4, 140px) 1fr;
  grid-auto-rows: $task-preview-height;
  position: relative;

  @include for-small-layout {
    grid-template-columns: 288px 100px repeat(4, 120px) 1fr;
  }

  &.active {
    background-color: $active-btn-clr;
  }

  &:hover:not(.active) {
    background-color: $img-border-clr;

    .task-menu-btn {
      opacity: 1;
    }
  }

  &:hover .sticky-container {
    background-color: $img-border-clr;
    // box-shadow: 0 3px 6px -3px $list-shadow-clr;
  }

  cursor: pointer;
  position: relative;
  border-bottom: 1px solid $secondary-border-clr;

  input {
    @include checkbox;

    &:hover {
      border-color: $btn-compose-clr;
    }
  }

  .sticky-container {
    position: sticky;
    left: 0;
    display: grid;
    z-index: 1;
    grid-template-columns: 6px 32px 380px 65px;
    background-color: $main-bg-clr;

    @include for-small-layout {
      grid-template-columns: 6px 32px 185px 65px;
    }

    &:hover:not(.active) {
      background-color: $img-border-clr;
      // box-shadow: 0 3px 6px -3px $list-shadow-clr;
    }

    &.active {
      // border: 1px solid $btn-compose-clr;
      border-inline-start: none;
      background-color: $active-btn-clr;
    }
  }

  .task-menu-btn {
    position: absolute;
    transform: translate(-30px, 7px);
    opacity: 0;
    display: grid;
    justify-content: center;
    border-radius: $el-br;
    width: 24px;
    height: 24px;

    &:hover {
      opacity: 1;
      background-color: $selected-task-border-clr;
    }
  }

  .task-row {
    border-inline-start: 1px solid $secondary-border-clr;

    &:not(.task-title):not(.task-files) {
      align-items: center;
      justify-content: center;
    }

    &:not(.task-persons-img) {
      display: grid;
    }
  }

  .task-title {
    display: grid;
    align-content: center;
    padding-inline-start: em(30px);
  }

  .msg-btn {
    border-inline-end: 1px solid $secondary-border-clr;

    svg {
      color: $secondary-font-clr;

      &:hover {
        color: $btn-compose-clr;
      }
    }

    .activ-msg-container {
      position: relative;

      .active-msg {
        color: $btn-compose-clr;
      }

      .msg-num {
        background-color: $btn-compose-clr;
        color: white;
        position: absolute;
        left: 13px;
        top: 10px;
        line-height: 9px;
        font-size: 10px;
        font-weight: 400;
        border-radius: 10px;
        text-align: center;
        padding: 2px 4px;
      }
    }

  }

  .edit-task {
    display: grid;
    border-inline-start: 1px solid $secondary-border-clr;
    padding-inline-start: em(30px);

    input {
      @include input;
      @include overflow3Dots;
      width: 95%;
      justify-self: start;
      font-family: FigtreeRegular;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: em(0.2px);
      color: $main-font-clr;
      outline-style: none;
      margin-inline: 0;

      @include for-small-layout {
        font-size: 0.85714rem;
      }

      &:hover {
        border-color: $secondary-border-clr;
      }

      &:focus {
        border-color: $btn-compose-clr;
        background-color: $main-bg-clr;
      }
    }
  }

  a {
    display: grid;
  }

  .task-persons-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    img {
      @include userImg;
    }

    .person-count {
      display: flex;
      justify-content: center;
      align-items: center;
      @include userImg($size: 25px);
      border: none;
      background-color: $text-color;
      color: $main-bg-clr;
      font-size: 12px;
    }

    .person-initials {
      @include userImg;
      @include personInitials;
      border: 2px solid rgb(245, 246, 248);
    }

    .add-person-btn {
      position: absolute;
      transform: translateX(-35px);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 14px;
      height: 14px;
      opacity: 0;

      border-radius: 50%;
      padding: 0;
      margin: 7px;

      font-weight: bolder;
      font-size: 11px;
      background-color: $btn-compose-clr;
      color: white;
    }

    &:hover .add-person-btn {
      opacity: 1;
    }
  }

  .task-status,
  .task-priority {
    color: $main-bg-clr;
    position: relative;

    @include for-small-layout {
      font-size: 0.85714rem;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0 0 auto auto;
      border-style: solid;
      border-width: 0;
      border-color: #64646462 $main-bg-clr;
      transition: all ease 0.5s;
    }

    &:hover::after {
      border-width: 0 10px 10px 0;
    }
  }

  .task-timeline {
    position: relative;
    align-self: center;
    justify-self: center;
    display: grid;
    height: em(22px);
    width: em(100px);

    border-radius: 30px;
    color: $main-bg-clr;
    background-color: var(--group-clr-17);

    .days-num {
      display: none;
    }

    &:hover .progress-bar {
      display: none;
    }

    &:hover .days-num {
      display: grid;
    }
  }
}
