.update-log-container {
  position: fixed;
  top: $main-header-height;
  right: 0;

  overflow-y: scroll;
  scrollbar-width: none;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 36px 1fr;
  grid-template-areas:
    'btn-close btn-close'
    'title options'
    'views views'
    'info info';
  column-gap: 1em;

  padding: 20px 20px 0 24px;
  // width: 570px;
  width: 620px;
  height: 100%;
  z-index: 300;

  --animate-duration: 0.2s;

  background-color: $main-bg-clr;
  box-shadow: -1px 4px 6px 0px rgb(45 45 45 / 20%);
  transition: transform 0.3s;

  @include for-narrow-layout {
    width: 100%;
    left: 0;
    padding: 20px;
  }

  @include for-small-layout {
    font-size: 0.85714rem;
  }

  @include for-mobile-layout {
    font-size: 0.71428rem;
  }

  .exit-button-container {
    height: em(24px);
    margin-bottom: em(5px);
    margin-inline-start: -5px;
    grid-area: btn-close;

    @include for-narrow-layout {
      margin-block-end: em(40px);
    }

    button {
      padding: 0px;
      width: em(26px);
      height: em(26px);

      @include for-narrow-layout {
        scale: 1.5;
        margin-inline-start: 2px;
        margin-block-start: 8px;
      }

      &:hover {
        border-radius: $el-br;
        background-color: $hover-clr;
      }
    }
  }

  .title {
    grid-area: title;
    align-self: center;
  }

  .img-options {
    grid-area: options;
    margin-inline-end: 3px;

    .menu-options-btn {
      position: relative;
      margin-inline-start: 11px;

      &::after {
        display: block;
        position: absolute;
        top: 4px;
        right: 32px;
        content: '';
        height: 16px;
        width: 1px;
        background-color: #efefef;
      }

      &:hover {
        background-color: $hover-clr;
        border-radius: $el-br;
        cursor: pointer;
      }
    }

    img {
      @include userImg($size: 26px);
    }

    // .person-initials{
    //   @include userImg($size: 26px);
    //   @include personInitials;

    // }
  }

  .menu-options {
    grid-area: views;
    height: em(36px);
    margin-block-start: 16px;
    border-block-end:1px solid $secondary-border-clr;

    .btn-view {
      position: relative;

      @include for-small-layout {
        font-size: em(16px);
      }

      @include viewSeparator;
      font-size: 1rem;
      padding: 8px;
      margin-block-end: 4px;

      &.active {
        @include viewIndicator(-4px);
      }

      &.updates-option {
        .updates {
          padding-inline-start: 6px;
        }

        &:hover {
          background-color: $hover-clr;
          border-radius: $el-br;
          cursor: pointer;
        }
      }

      &.files-option {
        &:hover {
          background-color: $hover-clr;
          border-radius: $el-br;
          cursor: pointer;
        }
      }

      &.activity-log-option {
        &:hover {
          background-color: $hover-clr;
          border-radius: $el-br;
          cursor: pointer;
        }
      }
    }
  }

  .update-log-content {
    grid-area: info;

    .updates-log-txt-area {
      width: 100%;
      min-height: em(40px);
      margin-block-start: em(37px);
      border-radius: $cmp-br;
      border: 1px solid $btn-compose-clr;

      @include for-narrow-layout {
        width: 100%;
        align-self: center;
      }

      .txt-input-update-log {
        // width: 100%;
        margin: 2px;
        padding: 10px 20px;
        font-size: em(16px);
        border: none;
        outline: none;
      }
    }
  }
}
