.update-log-container {
  position: fixed;
  transform: translateX(101%);
  width: em(570px);
  height: 100%;
  z-index: 20;
  right: 0;

  background-color: $main-bg-clr;
  box-shadow: 4px 11px 20px 0px rgba(56, 55, 55, 0.7);
  transition: transform 0.3s;

  &.open {
    transform: translateX(0);
  }

  .header {
    margin: em(20px) em(20px) em(6px) em(24px);

    .title-container {
      .exit-button-container {
        height: em(24px);
        margin-bottom: em(5px);

        button {
          padding: 0px;

          & :hover {
            border-radius: $el-br;
            background-color: $hover-clr;
          }
        }
      }

      .title-options {
        height: 65px;

        .title {
          width: em(350px);
        }

        .img-options {
          .menu-options-btn {
            width: em(26px);
            height: em(26px);
            padding: em(1px);
            margin-left: em(10px);

            &:hover {
              background-color: $hover-clr;
              border-radius: $el-br;
              cursor: pointer;
            }
          }

          .user-img {
            padding-right: em(6px);

            .task-persons-img {
              border-right: 1px solid $secondary-border-clr;
              padding-right: em(10px);

              img {
                @include userImg($size: 26px);
              }
            }
          }
        }
      }

      .menu-options {
        height: em(36px);
        width: em(570px);

        .btn-view {
          position: relative;

          @include viewSeparator;
          font-size: 1rem;
          padding: 8px;
          margin-block-end: 4px;

          &.active {
            @include viewIndicator(-4px);
          }

          &.updates-option {
            .updates {
              padding-inline-start: 6px;
            }

            &:hover {
              background-color: $hover-clr;
              border-radius: $el-br;
              cursor: pointer;
            }
          }

          &.files-option {
            &:hover {
              background-color: $hover-clr;
              border-radius: $el-br;
              cursor: pointer;
            }
          }

          &.activity-log-option {
            &:hover {
              background-color: $hover-clr;
              border-radius: $el-br;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .update-log-content {
    height: 690px;

    .updates-log-txt-area {
      width: em(520px);
      min-height: em(125px);
      margin: em(20px);
      border-radius: $cmp-br;
      border: 1px solid $border-input-activity-log-clr;

      .txt-input-update-log {
        width: em(400px);
        margin: 10px;
        padding: 10px;
        font-size: em(16px);
        border: none;
        outline: none;
      }
    }
  }
}