.user-msg {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: FigtreeRegular;
  z-index: 9999;
  font-size: 1.1em;
  padding: 8px;
  left: calc(50vw - 195px);
  width: 390px;
  height: 50px;
  border-radius: $el-br;
  top: 30px;
  color: white;
  margin-block: 16px;

  &.success {
    background-color: $user-msg-success;
  }

  &.error {
    background-color: $user-msg-error;
  }

  span {
    display: flex;
    gap: 10px;
  }

  .txt-container {
    flex-direction: row;
    gap: 24px;
    margin-inline: 9px;
    margin-right: 30px;
  }

  button {
    margin-block-start: 4px;
    border-radius: $el-br;
    width: 32px;
    height: 32px;
    &:hover {
      background-color: rgb(50, 51, 57, 0.5);
    }
  }
}
