* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.875rem;
  color: $main-font-clr;
  background-color: $surface-clr;
  font-family: FigtreeRegular, RobotoRegular, sans-serif;
}

body {
  height: 100%;
}

img {
  max-width: 100%;
}

input {
  font-family: inherit;
}

button {
  cursor: pointer;
  border: none;

  color: inherit;
  background-color: transparent;
  font-family: inherit;

  &:active {
    scale: 0.95;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

svg:focus {
  outline: none;
}
