.main-layout {
  display: grid;
  grid-template-columns: 265px 1fr;
  grid-template-rows: 48px 1fr;
}

.board-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  gap: 20px;

  padding: 16px 16px 24px 16px;
}
