@mixin btn($color: $main-font-clr) {
  color: $color;
  border-radius: $el-br;

  &:hover {
    background-color: $hover-clr;
  }
}

@mixin input() {
  height: 24px;
  align-self: center;
  margin: 6px;
  border: 1px solid transparent;
  border-radius: $el-br;
  background: transparent;
}

@mixin viewIndicator($inset-bottom: 1px) {
  &::before {
    content: '';
    position: absolute;
    inset: auto 0 $inset-bottom auto;
    width: 100%;
    height: 2px;
    background-color: $btn-compose-clr;
  }
}

@mixin viewSeparator() {
  &::after {
    content: '';
    position: absolute;
    inset: 8px 0 auto auto;
    height: 16px;

    border-inline-end: 1px solid $secondary-border-clr;
  }
}

@mixin checkbox {
  align-self: center;
  justify-self: center;
  height: rem(16px);
  width: 1rem;
  border: 1px solid $secondary-border-clr;
}

@mixin userImg($size: 30px, $margin-inline: -4px) {
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 2px solid $img-border-clr;
  margin: 0 $margin-inline;
}