// Layout mixins
@mixin for-normal-layout {
  @media (max-width: $break-normal) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-small-layout {
  @media (max-width: $break-small) {
    @content;
  }
}

@mixin for-mobile-layout {
  @media (max-width: $break-mobile) {
    @content;
  }
}

@mixin for-activity-log-medium {
  @media (max-width: $break-activity-medium) {
    @content;
  }
}

@mixin board-header-layout-mobile {
  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: auto 70px;
  grid-template-areas:
    'back back info invite'
    'title title title title';
  align-items: center;
  justify-items: center;
  scrollbar-width: thin;
}

//////////////////////////////

@mixin btn($color: $main-font-clr) {
  color: $color;
  border-radius: $el-br;

  &:hover {
    background-color: $hover-clr;
  }
}

@mixin input() {
  height: 24px;
  align-self: center;
  margin: 6px;
  border: 1px solid transparent;
  border-radius: $el-br;
  background: transparent;
}

@mixin viewIndicator($inset-bottom: 1px) {
  &::before {
    content: '';
    position: absolute;
    inset: auto 0 $inset-bottom auto;
    width: 100%;
    height: 2px;
    background-color: $btn-compose-clr;
  }
}

@mixin viewSeparator() {
  &::after {
    content: '';
    position: absolute;
    inset: 8px 0 auto auto;
    height: 16px;

    border-inline-end: 1px solid $secondary-border-clr;
  }
}

@mixin checkbox {
  align-self: center;
  justify-self: center;
  height: 16px;
  width: 16px;
  border: 1px solid $secondary-border-clr;
  appearance: none;
  border-radius: 2px;
  margin: 0;
}

@mixin userImg($size: 30px, $margin-inline: -4px) {
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 2px solid $img-border-clr;
  margin: 0 $margin-inline;
  object-fit: cover;
}

@mixin personInitials {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $img-initials-clr;
  color: $main-bg-clr;
}

@mixin caret($translateY, $translateX: -50%) {
  position: absolute;
  content: '';

  width: 0;
  height: 0;

  border-left: 7px solid transparent;
  border-right: 7px solid transparent;

  transform: translate($translateX, $translateY);
}

@mixin caretBottom($clr) {
  inset: 100% 0 auto 50%;
  border-top: 7px solid $clr;
}

@mixin caretTop($clr) {
  inset: -7px 0 auto 50%;
  border-bottom: 7px solid $clr;
}

@mixin activeLink {
  background-color: $active-btn-clr;
  border-radius: $el-br;
}

@mixin colorBtn($size) {
  width: rem($size);
  height: rem($size);
  border-radius: 50%;

  &:hover {
    opacity: 0.75;
  }
}

@mixin overflow3Dots() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin scalableBtn() {
  &:active {
    scale: 0.95;
  }
}

@mixin getStartedBtn($padding: 8px 14px 8px 16px, $font-size: 0.93rem) {
  padding: $padding;
  border-radius: 2em;
  background-color: $btn-cta-clr;
  gap: em(15px);
  margin: auto;

  &:hover {
    background-color: $btn-cta-clr-hover;

    svg {
      transform: translateX(5px);
    }
  }

  span {
    font-size: $font-size;
    font-family: PoppinsLight, RobotoRegular, sans-serif;
    color: $main-bg-clr;
  }

  svg {
    fill: white;
    transition: transform 0.3s;
  }
}

@mixin sortTitle {
  font-size: em(15px);
  font-weight: 500;
  font-family: FigtreeMedium, RobotoRegular;
  margin-block-end: em(24px);
}

@mixin dropdown {
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;

  gap: 6px;
  padding: 10px;
  border-radius: $el-br;

  background-color: $main-bg-clr;
  box-shadow: $modal-box-shadow;
}

@mixin dropdownOption {
  display: flex;
  align-items: center;

  width: 100%;
  height: 38px;

  padding: em(4px) em(4px) em(4px) em(18px);
  border-radius: $el-br;
  border: 1px solid $secondary-border-clr;
}

@mixin backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100vw;
  height: 100dvh;

  background-color: $backdrop-clr;
  --animate-duration: 0.2s;
}

@mixin modal($padding: 20px) {
  position: fixed;
  top: 50%;
  left: 50%;

  border-radius: $cmp-br;
  padding: em($padding);

  background-color: $main-bg-clr;
  z-index: 999;
  transform: translate(-50%, -50%);
  --animate-duration: 0.2s;
}

@mixin disabledBtn {
  cursor: not-allowed;
  opacity: 0.5;

  &:active {
    scale: 1;
  }
}
