@font-face {
  font-family: RobotoRegular;
  src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(/assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(/assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url(/assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(/assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: FigtreeLight;
  src: url(/assets/fonts/Figtree/Figtree-Light.ttf);
}

@font-face {
  font-family: FigtreeRegular;
  src: url(/assets/fonts/Figtree/Figtree-Regular.ttf);
}

@font-face {
  font-family: FigtreeBold;
  src: url(/assets/fonts/Figtree/Figtree-Bold.ttf);
}

@font-face {
  font-family: FigtreeSemiBold;
  src: url(/assets/fonts/Figtree/Figtree-SemiBold.ttf);
}

@font-face {
  font-family: FigtreeMedium;
  src: url(/assets/fonts/Figtree/Figtree-Medium.ttf);
}

/// FONT AWESOME ///

@font-face {
  font-family: faRegular;
  src: url(/assets/fonts/fa/fa-regular-400.ttf);
}

@font-face {
  font-family: faSolid;
  src: url(/assets/fonts/fa/fa-solid-900.ttf);
}

.fa-regular::before {
  font-family: faRegular;
}

.fa-solid::before {
  font-family: faSolid;
}

.fa-solid.plus::before {
  content: '\2b';
}

.fa-solid.x-mark::before {
  content: '\f00d';
}
