@font-face {
  font-family: RobotoRegular;
  src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(/assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(/assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(/assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: FigtreeRegular;
  src: url(/assets/fonts/Figtree/Figtree-Regular.ttf);
}

@font-face {
  font-family: FigtreeBold;
  src: url(/assets/fonts/Figtree/Figtree-Bold.ttf);
}
